{{#each average}}
<div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-item-center">
                   Promedio de todos los clientes 
                </h4>
                <p>
                   El Promedio de Edad de los clientes es {{avgEdad}}
                </p>
                <p>
                   La Desviacion Estandar de los clientes es {{ageStdDev}}
                </p>
            </div>
        </div>
    </div>
{{/each}}