<div class="jumbotron mt-4">
<div class="Card">
    <div class="card-body">
        <h1>About</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim at nisi natus, corrupti ipsum laudantium repellendus ab. Veritatis, impedit soluta quos, obcaecati animi officiis, nemo dolores ratione magnam explicabo praesentium.</p>
        
    </div>
</div>
</div>