<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead"> lorem </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis autem incidunt labore nulla odit cupiditate libero delectus laborum, ipsum, aperiam sit minus perspiciatis. A placeat aut officiis temporibus. Libero, at!</p>
</div>